fastapi==0.141.1
uvicorn
pyairtable==3.4.2
groq
python-dotenv
pydantic
requests
cloudinary==1.45.0
python-multipart
PyJWT==2.13.0
gunicorn
pydantic-settings==2.14.2
argon2-cffi==25.1.0
Pillow==12.3.0
upstash-redis==1.7.0
